<nav aria-label="breadcrumb" class="mb-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos</a></li>
    <li class="breadcrumb-item active" aria-current="page">
     {{pageTitle}}
    </li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">  {{pageTitle}} </h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entries" class="btn btn-light float-md-end">
      << voltar
    </a>
  </div>
</div>

<form [formGroup]="entryForm" (submit)="submitForm()">
  
  <div class="card">
    <div class="card-header">
      Informações sobre a Lançamento
    </div>

    <div class="card-body">
      <div class="row">

    <!-- Type -->
    <div class="form-group col-2 mb-3">
          
      <label for="name">Type</label>
      <select  formControlName="type" class="form-control" name="type" id="type" >
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
      </select>
      <div class="text-danger" *ngIf="entryForm.get('name')?.invalid && entryForm.get('name')?.touched">
        <div *ngIf="entryForm.get('name')?.errors?.required">Dados obrigatório</div>
        <div *ngIf="entryForm.get('name')?.errors?.minlength">deve ter no mínimo 2 caracteres</div>
      </div>
    </div>

        <!-- name -->
        <div class="form-group col-5 mb-3">

          <label for="name">Lançamento</label>
          <input type="text"  formControlName="name" class="form-control" name="name" id="name" />
        

          <div class="text-danger" *ngIf="entryForm.get('name')?.invalid && entryForm.get('name')?.touched">
            <div *ngIf="entryForm.get('name')?.errors?.required">Dados obrigatório</div>
            <div *ngIf="entryForm.get('name')?.errors?.minlength">deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

      <!-- amount -->
      <div class="form-group col-2 mb-3">
        <label for="name">Valor</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">R$</div>
          </div>
          <input [imask]="imaskConfig" type="text" formControlName="amount" class="form-control text-end" name="amount" id="amount" />
        </div>
        
        <div class="text-danger" *ngIf="entryForm.get('amount')?.invalid && entryForm.get('amount')?.touched">
          <div *ngIf="entryForm.get('amount')?.errors?.required">Dados obrigatório</div>
        </div>
      </div>

         <!-- date -->
         <div class="form-group col-2 mb-3">
          <label for="date">Date</label>
        <p-calendar
          id="date"
          formControlName="date"
          inputStyleClass="form-control" 
          dataType="string"
          dateFormat="dd/mm/yy"
          [locale]="ptBR"
          [showButtonBar]="true">
        </p-calendar>
          
          <div class="text-danger" *ngIf="entryForm.get('date')?.invalid && entryForm.get('date')?.touched">
            <div *ngIf="entryForm.get('date')?.errors?.required">Dados obrigatório</div>
          </div>
        </div>
  
              <div class="row">

      <!-- amount -->
      <div class="form-group col-2 mb-3">
        <label for="name">Pago</label>
        <div class="btn-group">
          <label (click)="entryForm.get('paid')?.setValue(true)" [class.active]="entryForm.get('paid')?.value == true" class="btn btn-outline-info">
            Pago
          </label>
          <label  (click)="entryForm.get('paid')?.setValue(false)" [class.active]="entryForm.get('paid')?.value == false"class="btn btn-outline-info">
            Pendente
          </label>
        </div>
      
        <div class="text-danger" *ngIf="entryForm.get('paid')?.invalid && entryForm.get('paid')?.touched">
          <div *ngIf="entryForm.get('paid')?.errors?.required">Dados obrigatório</div>
        </div>
      </div>

         <!-- Type -->
    <div class="form-group col-3 mb-3">
          
      <label for="categoriaId">Categoria</label>
      <select  formControlName="categoriaId" class="form-control" name="categoriaId" id="categoriaId" >
        <option *ngFor="let category of categories" [value]="category?.id">{{category?.name}}</option>

      </select>
      <div class="text-danger" *ngIf="entryForm.get('categoriaId')?.invalid && entryForm.get('categoriaId')?.touched">
        <div *ngIf="entryForm.get('categoriaId')?.errors?.required">Dados obrigatório</div>
        <div *ngIf="entryForm.get('categoriaId')?.errors?.minlength">deve ter no mínimo 2 caracteres</div>
      </div>
    </div>

           <!-- description -->
        <div class="form-group col-7">
          <label for="description">Descrição</label>
          <input type="text"  formControlName="description" class="form-control" name="description" id="description" />
        </div>
      </div>
    </div>
    </div>
      </div>

    <div class="card-footer"> </div>

    <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
      <strong> Erro no servidor:</strong>
      <ul>
        <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
      </ul>
    </div>

 <button type="submit" [disabled]="submittingForm || entryForm.invalid" class="btn btn-primary  mt-3 float-md-end">Salvar</button>
</form>
